In [1]:
import s1

In [2]:
# f1-> factorial function

s1.f1(3)

6

In [4]:
import python_tutorial

In [7]:
from python_tutorial import Area_fig as af

In [9]:
af.rect(5,4)

Area of rectangle:  20

In [8]:
from s1 import f2

In [10]:
f2(4)

10

In [10]:
from python_tutorial.Area_fig import *

In [11]:
sqr(40)

Area of square:  1600

In [19]:
def func(*args,**kwargs):
    print(type(args))
    print(sum(args))
    print(type(kwargs))
    print(kwargs["name"])
    print(kwargs)
    
func(1,2,3,4,name="Smarth",age=21)

<class 'tuple'>
10
<class 'dict'>
Smarth
{'name': 'Smarth', 'age': 21}

In [34]:
d={'a': 1, 'b': 2, 'c': 3}
d.keys()

dict_keys(['a', 'b', 'c'])

In [35]:
for key in d:
    print(key)

a
b
c

In [36]:
class Parent:
    def __init__(self):
        self.value = 5

class Child(Parent):
    def __init__(self):
        super().__init__()
        self.value += 1

In [38]:
p1=Parent()

In [41]:
p1.value

5

In [42]:
class Animal:
    def __init__(self,value):
        self.value=value
    @staticmethod
    def speak():
        print("Animal speaks")

class Dog:
    def __init__(self,value):
        super.__init__(self,value)

TypeError: Dog.__init__() takes 1 positional argument but 2 were given

In [45]:
def greet():
    """This function prints a greeting message."""
    print("Hello, World!")

print(greet.__doc__)

This function prints a greeting message.

In [48]:
s="sash@213"
s.index("@")

4

In [51]:
x=23
print(f"{x:.2f}")

23.00

In [53]:
import numpy as np
arr = np.array([[10, 20, 30, 40], [50, 60, 70, 80]])
arr.ndim

2

In [57]:
dic={"Name":["Smarth","Saarthak","Sandeep"],"Age":[21,23,21],"Class":["E","A","E"]}

In [2]:
import pandas as pd
df=pd.DataFrame({"Name":["Smarth","Saarthak","Sandeep"],
                 "Age":[21,23,21],
                 "Class":["E","A","E"]
                })

C:\Users\smart\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df

       Name  Age Class
0    Smarth   21     E
1  Saarthak   23     A
2   Sandeep   21     E

In [4]:
df.rename(columns={"Name":"Student Name"},inplace=True)

In [5]:
df

  Student Name  Age Class
0       Smarth   21     E
1     Saarthak   23     A
2      Sandeep   21     E

In [7]:
a=df.rename(columns={"Student Name":"Name"})
a

       Name  Age Class
0    Smarth   21     E
1  Saarthak   23     A
2   Sandeep   21     E

In [8]:
df

  Student Name  Age Class
0       Smarth   21     E
1     Saarthak   23     A
2      Sandeep   21     E

In [11]:
Data={"Name":["Smarth","Saarthak","Sandeep"],"Age":[21,23,21],"Class":["E","A","E"]}

In [14]:
import json
json_data = json.dumps(Data)
df=pd.read_json(json_data)

C:\Users\smart\AppData\Local\Temp\ipykernel_32368\2777817448.py:3: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(json_data)

In [26]:
print(type(json_data))

<class 'str'>

In [15]:
df

       Name  Age Class
0    Smarth   21     E
1  Saarthak   23     A
2   Sandeep   21     E

In [18]:
print(df.to_json)

<bound method NDFrame.to_json of        Name  Age Class
0    Smarth   21     E
1  Saarthak   23     A
2   Sandeep   21     E>

In [20]:
data='{"Name":["Smarth","Saarthak","Sandeep"],"Age":[21,23,21],"Class":["E","A","E"]}'

In [21]:
type(data)

str

In [22]:
parsed=json.loads(data)

In [23]:
parsed

{'Name': ['Smarth', 'Saarthak', 'Sandeep'],
 'Age': [21, 23, 21],
 'Class': ['E', 'A', 'E']}

In [24]:
parsed["Name"]

['Smarth', 'Saarthak', 'Sandeep']

In [25]:
data["Name"]

TypeError: string indices must be integers

In [35]:
def outer(n):
    name="Smarth"
    def inner():
        return name,n+10
    return inner
a=outer(3)

In [36]:
a()

('Smarth', 13)

In [37]:
data='{"Name":["Smarth","Saarthak","Sandeep"],"Age":[21,23,21],"Class":["E","A","E"]}'
df=pd.read_json(data)

C:\Users\smart\AppData\Local\Temp\ipykernel_32368\2367145939.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_json(data)

In [38]:
df

       Name  Age Class
0    Smarth   21     E
1  Saarthak   23     A
2   Sandeep   21     E

In [56]:
class Student:
    def __init__(self,name,iden):
        self.name=name
        self.id=iden
        self.courses=[]
        
    def enrolling(self, course):
        self.courses.append(course)
    
    def dropping(self, course):
        for i in self.courses:
            if i.title==course.title:
                self.courses.remove(i)
                course.drop_student(self)
        
    def view(self):
        for course in courses:
            print(course.title)
    
class Course:
    
    def __init__(self, title, instructor, max_students):
        self.title = title
        self.instructor = instructor
        self.max_students = max_students
        self.student_list = [] 
    
    def add_student(self, student):
        if len(self.student_list) < self.max_students:
            self.student_list.append(student)
        student.enrolling(self)
    
    def drop_student(self, student):
        self.student_list.remove(student)
        student.dropping(self)
    def view_students(self):
        for student in self.student_list:
            print(student.name)

In [57]:
math101 = Course("Calculus", "Dr. Smith", 3)
john = Student("John Doe", "12345")
jane = Student("Jane Doe", "67890")
mark = Student("Mark Lee", "11111")

In [58]:
math101.add_student(john)
math101.add_student(jane)
math101.add_student(mark)

In [59]:
math101.view_students()

John Doe
Jane Doe
Mark Lee

In [60]:
john.dropping(math101)

In [55]:
math101.view_students()

Jane Doe
Mark Lee

In [61]:
class Animal:
    def __init__(self,name):
        self.name=name
#     def __add__(self,other):
#         print(self.name + other.name)
a1=Animal("dog")
a2=Animal("cat")
print(a1+a2)

TypeError: unsupported operand type(s) for +: 'Animal' and 'Animal'

In [68]:
class Animal:
    def __init__(self,name):
        self.name=name
    def __add__(self,other):
        print(self.name +" " + other.name)
#     def __len__(self):
#         print(len(self..name))
a1=Animal("dog")
a2=Animal("cat")
a1+a2

dog cat

In [72]:
class Animal:
    def __init__(self,name):
        self.name=name
    def __add__(self,other):
        return (self.name +" " + other.name)
    def __len__(self):
        return len(self.name)
a1=Animal("dog")
a2=Animal("cat")
print(a1+a2)
len(a1)

dog cat

3

In [73]:
a=filter(lambda x: x%2==0,map(lambda x: x**2,range(1,10)))
for i in a :
    print(i)

4
16
36
64